<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "flixnpixprofile.jpg" %>
  </div>

  <div id="content">
    <h1>Profile Image</h1>
    <p>Jen comes from a creative background in performance, film, music, painting and clothing design. She plans on using her new confidence in coding to build more sites, do some coding performances and to finally use her arduino kit. She will continue to contribute to the Ruby community by coaching, organizing Rails Girls events and maintaining and continuing to build up Feats of Daring.</p>
  </div>
</div>
